.card {
	width: 330px;
	background: #f3f3f3;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 30px;
}

.new::after {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	border: 60px solid transparent; 
	border-left: 60px solid #f7c9c9; 
	border-top: 60px solid #f7c9c9;
}

.triangle::before {
	position: absolute;
	content: '';
	right: 0;
	bottom: 0;
	border: 60px solid transparent; 
	border-right: 60px solid #91a8d1; 
	border-bottom: 60px solid #91a8d1;
}

.newTitle {
	position: absolute;
	left: 0;
	z-index: 1;
	transform: rotate(-45deg);
	padding-top: 10px;
	font-size: 24px;
	color:#ffffff;
	text-shadow: 3px 5px 6px #f1aaaa;
}

.info-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.info {
	display: flex;
	align-items: center;
	margin: 15px 0 15px;
}

.info h3 {
	margin: 0;
	display: inline-block;
	color: #ffffff;
	font-size: 30px;
}

.info-wrapper h4 {
	margin: 0;
	font-size: 24px;
	color: #91a8d1;
	padding: 0 0 10px 10px;
	font-weight: 400;
}

.info-wrapper h5, .info-wrapper h6 {
	margin: 0;
	color: #ffffff;
	font-size: 24px;
	padding: 15px 0 0 10px;
	font-weight: 400;
}

.info-wrapper h6 {
	padding: 0 0 10px 10px;
	margin: 0;
}

.card p {
	margin: 0;
	font-size: 24px;
	color: #797687;
}

.card .work {
	color: #4c71b5;
}

.button-wrapper {
	position: relative;
}

.btn {
	width: 100%;
	border-radius: 40px;
	background: #91a8d1;
	color: #ffffff;
	font-weight: 700;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 25px;
	box-shadow: 0px 2px 2px #4c71b5;
	margin-top: 15px;
}

.card .chat {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 15px;
	right: 0;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #f34635;
	color: #ffffff;
	font-size: 24px;
}